.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 1007px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 1008px;
  background-image: none;
  width: 100%;
  margin: 0 auto;
}