.u-section-1 .u-sheet-1 {
  min-height: 199px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 177px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto;
}.u-section-3 .u-sheet-1 {
  min-height: 112px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  border-style: solid;
  margin: 20px auto;
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  color: #3876c5 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  color: #3876c5 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto;
}.u-section-5 .u-sheet-1 {
  min-height: 2102px;
}

.u-section-5 .u-text-1 {
  margin: 0 919px 0 0;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 1008px;
  background-image: none;
  width: 100%;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 0 919px 0 0;
}

.u-section-5 .u-custom-html-2 {
  height: auto;
  min-height: 1008px;
  background-image: none;
  width: 100%;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 719px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 719px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 499px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-right: 319px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 119px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 119px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 2102px;
}

.u-section-6 .u-text-1 {
  margin: 0 919px 0 0;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 1008px;
  background-image: none;
  width: 100%;
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 0 919px 0 0;
}

.u-section-6 .u-custom-html-2 {
  height: auto;
  min-height: 1008px;
  background-image: none;
  width: 100%;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 719px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 719px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 499px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 60px;
    margin-right: 319px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 119px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 119px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-7 .u-text-1 {
  margin: 22px 919px 0 0;
}

.u-section-7 .u-custom-html-1 {
  height: auto;
  min-height: 1008px;
  background-image: none;
  width: 100%;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 719px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-right: 119px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 177px;
}

.u-section-8 .u-text-1 {
  margin: 60px auto;
}.u-section-9 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-9 .u-custom-html-1 {
  height: auto;
  min-height: 1008px;
  background-image: none;
  width: 100%;
  margin: 22px 0 0;
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 177px;
}

.u-section-10 .u-text-1 {
  margin: 60px auto;
}.u-section-11 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-11 .u-custom-html-1 {
  height: auto;
  min-height: 1008px;
  background-image: none;
  width: 100%;
  margin: 22px 0 0;
}